.largestatcard > div {
	width: 100%;
	margin-top: 25px;
	border-radius: 10px;
	background-color: #2e2f3c;
	border: 1px solid #363747;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	padding: 10px 15px 0px 15px;
}
.largestatcard > div > div {
	width: 33%;
	display: inline-block;;
	margin-top: 10px;
}

.largestatcard > div > div > div > p {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 13.5px;
	font-weight: 700;
	color: #707294;
}

.largestatcard > div > div > div > h1 {
	font-size: 22px;
	margin-top: -5px;
	display: inline-block;
}

.largestatcard > div > div > div > span {
	font-size: 13px;
	border-radius: 5px;
	padding: 3px 7px 3px 7px;
	display: inline-block;
	transform: translate(25%, -12%);
	font-weight: 700;
}

.increase {
	color: #00bc93;
	background-color: rgba(0, 213, 167, 0.1);
}

.decrease {
	color: #de4437;
	background-color: rgba(222, 68, 55, 0.1);
}
/* Responsiveness - TODO: Clean up grid border logic */
@media screen and (max-width: 760px) {
	.largestatcard > div > div {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.largestatcard > div > div {
		width: 100%;
		border-bottom: 1px solid #fff;
	}
	.largestatcard > div > div:last-child {
		border-bottom: none !important;
	}
}
