.addressdetails {
	margin-top: -20px;
}

.addressdetails > div:first-child {
	background-color: #393a49;
	padding: 30px 0px 45px 0px;
}

.addressdetails > div:first-child > div > div {
	display: inline-block;
	width: 50%;
}

.addressdetails > div:first-child > div > div:first-child > p:first-child {
	font-size: 21px;
	font-weight: bold;
	color: #70728d;
}

.addressdetails > div:first-child > div > div:first-child > p:last-child {
	margin-top: -10px;
}

.addressdetails > div:first-child > div > div:first-child > p:last-child > a {
	color: #fefefe;
	padding-bottom: 3px;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
	transition: 0.15s ease-in-out;
}

.addressdetails > div:first-child > div > div:first-child > p:last-child > a:hover {
	padding-bottom: 0px;
}

.addressdetails > div:first-child > div > div:last-child > p {
	text-align: right;
}

.addressdetails > div:first-child > div > div:last-child > p:first-child {
	font-size: 15px;
	font-weight: 700;
	color: #70728d;
}

.addressdetails > div:first-child > div > div:last-child > p:last-child {
	font-size: 24px;
	font-weight: 700;
	margin-top: -10px;
}

.libraText {
	color: #707294 !important;
}

.wip {
	background-color: #f2dede;
	color: #a94442;
	border: 1px solid #ebcccc;
	border-radius: 5px;
	margin: 25px 0px 25px 0px;
	padding-left: 15px;
}

.wip > p {
	line-height: 25px;
}

.wip > p > a {
	color: #a94442;
	padding-bottom: 1px;
	text-decoration: none;
	border-bottom: 2px dashed rgb(230, 169, 169);
	transition: 0.1s ease-in-out;
}

.wip > p > a:hover {
	padding-bottom: 0px;
}


@media screen and (max-width: 900px) { 
	.addressdetails > div:first-child {
		padding: 15px 0px 15px 0px;
	}
	.addressdetails > div:first-child > div > div:first-child {
		border-bottom: 1px solid #6e6f8b;
	}
	.addressdetails > div:first-child > div > div {
		width: 100%;
	}
	.addressdetails > div:first-child > div > div:last-child > p {
		text-align: left;
	}
	.addressdetails > div:first-child > div > div:first-child > p:last-child > a {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		vertical-align: top;
		width: 100%;
		border-bottom: none;
	}
}
