.smallstatcard > div {
	width: 100%;
	padding-bottom: 20px;
	margin-top: -115px;
}
.smallstatcard > div > div:nth-child(1) {
	margin-right: 1.5%;
}
.smallstatcard > div > div:nth-child(2) {
	margin: 0px 1.5% 0px 1.5%;
}
.smallstatcard > div > div:nth-child(3) {
	margin: 0px 1.5% 0px 1.5%;
}
.smallstatcard > div > div:nth-child(4) {
	margin-left: 1.5%;
}
.smallstatcard > div > div {
	height: 85px;
	border-radius: 10px;
	width: 22.75%;
	display: inline-block;
	background-color: #2e2f3c;
	border: 1px solid #363747;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	padding: 15px;
}

.smallstatcard > div > div > div > p {
	padding-top: 0px;
	margin-top: 0px;
	font-size: 13.5px;
	font-weight: 700;
	color: #707294;
}

.smallstatcard > div > div > div > h1 {
	font-size: 22px;
	margin-top: -5px;
	display: inline-block;
}

.smallstatcard > div > div > div > h1 > a {
	color: #fefefe;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px dotted #fefefe;
	transition: 0.1s ease-in-out;
}

.smallstatcard > div > div > div > h1 > a:hover {
	padding-bottom: 0px;
}

/* Responsivness */
/* TODO: Fix small edge case 1600-1620px */
@media screen and (max-width: 900px) {
	.smallstatcard > div > div {
		width: 100%;
		margin: 7.5px 0% 7.5px 0% !important;
	}
}
