.footer {
	min-height: 50px;
	position: absolute;
	bottom: 0;
	background-color: #2e2f3b;
	color: #565761;
	width: 100%;
	padding-bottom: 20px;
}
.footer > div {
	margin-top: 0px !important;
}
.footer > div > div {
	display: inline-block;
	height: 100%;
}
.footer > div > div:nth-child(1) > p {
	transform: translateY(50%);
}

.footer > div > div:nth-child(2) {
	float: right;
}

.active {
	color: #fefefe;
}

/* TODO: Fix footer styling */
.footerNav > a:last-child {
	padding: 0px;
	background-color: transparent;
	color: #565761;
}
.footerNav > a:last-child {
	background-color: transparent !important;
	color: #fefefe !important;
}

@media screen and (max-width: 700px) {
	.footer > div > div:nth-child(2) {
		float: none;
	}
	.footer > div > div:nth-child(2) > nav {
		float: left;
		margin-left: -7px;
		margin-top: -20px;
	}
	.footer > div > div {
		width: 100%;
	}
}
