.latesttbl {
	width: 100%;
	display: inline-block;
	background-color: #2e2f3c;
	border: 1px solid #363747;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.15);
	border-radius: 10px;
	margin-bottom: 40px;
}

.latesttbl > div:first-child > p {
	display: inline-block;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 700;
	width: 200px;
}
.latesttbl > div:first-child > a {
	float: right;
	margin-right: 15px;
	padding: 7px 10px 7px 10px;
	background-color: #434356;
	border-radius: 5px;
	text-decoration: none;
	margin-top: 12.5px;
	color: #6f6f90;
	transition: 0.15s ease-in-out;
}

.latesttbl > div:first-child > a:hover {
	background-color: #646482;
	color: #8c8ca6;
}

.latesttbl > div > div {
	overflow-x: auto;
}

/* Table header */
.latesttbl > div > div > div:first-child {
	background-color: #363747 !important;
	height: 45px;
	padding-left: 15px;
}
.latesttbl > div > div > div:first-child > div > div {
	display: inline-block;
	color: #707294;
	font-weight: 700;
	font-size: 13.5px;
	padding-top: 15.75px;
}

.latesttbl > div > div > div:first-child > div > div:nth-child(1) {
	width: 75px !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(2) {
	width: 130px !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(3) {
	width: 50px !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(4) {
	width: 170px !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(5) {
	width: calc(100% - 615px) !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(6) {
	width: 100px !important;
}
.latesttbl > div > div > div:first-child > div > div:nth-child(7) {
	width: 60px !important;
}

/* Table body */ 
.latesttbl > div > div > div:last-child > div {
	padding-left: 15px;
	border-bottom: 1.5px solid #363747;
}
.latesttbl > div > div > div:last-child > div:last-child {
	border-bottom: none;
}
.latesttbl > div > div > div:last-child > div > div > div {
	display: inline-block;
	font-size: 16px;
	height: 50px;
	padding-top: 17px;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(1) {
	width: 75px !important;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(2) {
	width: 130px !important;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(3) {
	width: 50px !important;
	color: #707294;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(4) {
	width: 170px !important;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(5) {
	width: calc(100% - 615px) !important;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(6) {
	width: 100px !important;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(7) {
	width: 60px !important;
}

/* Additional styling */
.latesttbl > div > div > div:last-child > div > div > div:nth-child(1) > a {
	color: #3750ff;
	border: 1px solid #3750ff;
	text-decoration: none;
	padding: 2px 3px 2px 3px;
	border-radius: 5px;
	font-size: 14px;
	transition: 0.1s ease-in-out;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(5) > a {
	color: #3750ff;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	width: 90%;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(4) > a {
	color: #3750ff;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	width: 90%;
}
.latesttbl > div > div > div:last-child > div > div > div > span > span {
	color: #707294;
}
.latesttbl > div > div > div:last-child > div > div > div:nth-child(1) > a:hover {
	color: #fefefe;
	background-color: #3750ff;
}
.latesttbl > div > div:last-child {
	display: none !important;
}
